.panel.panel-info
  .panel-heading
     b Weather from forecast.io
  table.table
    tr
      td
        h1 
          span(style="font-weight:normal;font-size:200%") #{currently.summary}
          span.weather-icon(style="float:right; font-size:60px").setting(data-icon="#{currently.icon}")
          br
          b(style="font-size:200%") #{currently.temperature}°
        h4
          small(style="padding-left:3px") Feels Like #{currently.feelslike}° · Winds from the #{currently.windBearing} #{currently.windSpeed} mi/h · #{currently.humidity}% Humidity 
          
    tr
      td
        h4 
          span.weather-icon(style="float:right; font-size:30px").setting(data-icon="#{minutely.icon}")
          b Next Hour 
          small - #{minutely.summary}
    tr
      td
        h4 
          span.weather-icon(style="float:right; font-size:30px").setting(data-icon="#{hourly.icon}")
          b Next 24 Hours
          small - #{hourly.summary}
    tr
      td
        h4 
          span.weather-icon(style="float:right; font-size:30px").setting(data-icon="#{daily.icon}")
          b Next 5 Days
          small - #{daily.summary}
    each day in weekly
      tr
        td
          h4
            span.weather-icon(style="float:right; font-size:30px").setting(data-icon="#{day.icon}")
            b(style="font-size:120%") #{day.day} - #{day.high}°
            | /#{day.low}° - #{day.winddir} #{day.windspeed} mi/h
          h4
            small #{day.summary}

