td
  a(href="#{url}") #{title}
  br
  small.text-muted 
    if flair
      span.label.label-default #{flair}
      |  · #{subreddit} · #{score} · #{author} · #{created_ago}
    else 
      | #{subreddit} · #{score} · #{author} · #{created_ago}
